*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#zipper{
    width: 700px;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 20px;
    background: wheat;
    margin: 20px auto;

}
.title{
    margin-bottom: 10px;
}

.article{
    margin-bottom: 10px;
    padding: 10px;
    color: black;

}

a{
    background-color: teal;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}
a:hover{
    background-color: brown;
    color: red;
}
a:visited{
    color: blueviolet;
}
.btn{
    background-color: teal;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}
