.item{
    background-color: aquamarine;
    color: black;
    text-align: center;
    font-size: 65px;
    display: none;
}

@media only screen and (max-width:300px){
    #item-1{
        display: block;
    }
    
}
@media only screen and (min-width:300px) and (max-width:500px){
    #item-2{
        display: block;
        background-color: gray;
    }
    
}
@media only screen and (min-width:500px) and (max-width:800px){
    #item-3{
        display: block;
        background-color: rgb(red, green, blue);
    }
    
}
@media only screen and (min-width:800px){
    #item-4{
        display: block;
        background-color: rgb(35, 35, 58);
    }
    
}